# Core functionality - changes here should be rare!
/src/app.py                   @RebeccaBerg
/src/backend/database.py      @RebeccaBerg
/src/backend/routers/auth.py  @RebeccaBerg

# The frontend will need refactored soon to be more object oriented.
/src/static/   @RebeccaBerg
